.fa-2x {
	font-size: 2em;
}

.main-menu:hover, nav.main-menu.expanded {
	width: 250px;
	overflow: visible;
}

.main-menu {
	background: #212121;
	border-right: 1px solid white;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	width: 60px;
	overflow: hidden;
	transition: width 0.5s linear;
	z-index: 1000;
	-webkit-transform: translateZ(0) scale(1,1);
}

.main-menu > ul {
	margin: 7px 0;
}

.main-menu li a {
	position: relative;
	display: block;
	width: 250px;
}

.main-menu li a {
	position: relative;
	padding: 5px 0;
	border-color: collapse;
	border-spacing: 0;
	color: #999;
	font-family: tahoma;
	font-size: 14px;
	text-decoration: none;
	-webkit-transform: translateZ(0)scale(1,1);
	transition: all .1s linear;
}

.main-menu .nav-icon {
	width: 60px;
	font-size: 18px;
	text-align: center;
}

.sub-menu {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.3s linear;
}

.sub-menu li i {
	margin-left: 40px;
	margin-right: 20px;
}

.main-menu ul.logout {
	position: absolute;
	left: 0;
	bottom: 0;
}

.no-touch .scrollable.hover {
	overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
	overflow-y: auto;
	overflow: visible;
}

a:hover, a:focus {
	text-decoration: none;
}

nav {
	user-select: none;
}

nav ul, nav li {
	outline: 0;
	margin: 0;
	padding: 0;
}

.main-menu li a:hover, nav.main-menu li.active a, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
	color: white;
	background-color: #5fa2db;

}

li:target .sub-menu {
	max-height: 10em;
}

.content-area {
	margin-left: 65px;
	height: 100%;
	padding: 5px;
}